In [1]:
import numpy as np

In [2]:
import pandas as pd

In [55]:
df=pd.read_csv(r"C:\PROJECT CHENNAI\rainfall.csv")

In [9]:
df.head()

,Name,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,...,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,June-September,Oct-Dec,Latitude,Longitude
0,ROW1,Andaman & Nicobar Islands,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,...,388.5,558.2,33.6,3373.2,136.3,560.3,1696.3,980.3,12.61124,92.83165
1,ROW2,Andaman & Nicobar Islands,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,...,197.2,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7,12.61124,92.83165
2,ROW3,Andaman & Nicobar Islands,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,...,181.2,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6,12.61124,92.83165
3,ROW4,Andaman & Nicobar Islands,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,...,222.2,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0,12.61124,92.83165
4,ROW5,Andaman & Nicobar Islands,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,...,260.7,25.4,344.7,2566.7,1.3,309.7,1624.9,630.8,12.61124,92.83165

In [10]:
df.tail()

,Name,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,...,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,June-September,Oct-Dec,Latitude,Longitude
4182,ROW4183,Lakshadweep,2012,19.2,0.1,1.6,76.8,21.2,327.0,231.5,...,145.9,12.4,8.8,1405.5,19.3,99.6,1119.5,167.1,10.160618,73.518509
4183,ROW4184,Lakshadweep,2013,26.2,34.4,37.5,5.3,88.3,426.2,296.4,...,72.8,78.1,26.7,1426.3,60.6,131.1,1057.0,177.6,10.160618,73.518509
4184,ROW4185,Lakshadweep,2014,53.2,16.1,4.4,14.9,57.4,244.1,116.1,...,169.2,59.0,62.3,1395.0,69.3,76.7,958.5,290.5,10.160618,73.518509
4185,ROW4186,Lakshadweep,2015,2.2,0.5,3.7,87.1,133.1,296.6,257.5,...,165.4,231.0,159.0,1642.9,2.7,223.9,860.9,555.4,10.160618,73.518509
4186,ROW4187,Lakshadweep,2016,59.6,12.1,3.2,2.6,77.4,321.1,262.6,...,58.6,32.0,74.7,1065.7,71.7,83.2,745.5,165.3,10.160618,73.518509

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4187 entries, 0 to 4186
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            4187 non-null   object
 1   SUBDIVISION     4187 non-null   object
 2   YEAR            4187 non-null   int64
 3   JAN             4187 non-null   float64
 4   FEB             4187 non-null   float64
 5   MAR             4187 non-null   float64
 6   APR             4187 non-null   float64
 7   MAY             4187 non-null   float64
 8   JUN             4187 non-null   float64
 9   JUL             4187 non-null   float64
 10  AUG             4187 non-null   float64
 11  SEP             4187 non-null   float64
 12  OCT             4187 non-null   float64
 13  NOV             4187 non-null   float64
 14  DEC             4187 non-null   float64
 15  ANNUAL          4187 non-null   float64
 16  Jan-Feb         4187 non-null   float64
 17  Mar-May         4187 non-null   float64
 18  June-September  4187 non-null   float64
 19  Oct-Dec         4187 non-null   float64
 20  Latitude        4187 non-null   float64
 21  Longitude       4187 non-null   float64
dtypes: float64(19), int64(1), object(2)
memory usage: 719.8+ KB

In [12]:
df.describe()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,June-September,Oct-Dec,Latitude,Longitude
count,4187.000000,4187.000000,4187.000000,4187.000000,4187.000000,4187.000000,4187.000000,4187.000000,4187.000000,4187.000000,4187.000000,4187.000000,4187.000000,4187.000000,4187.000000,4187.000000,4187.000000,4187.000000,4187.000000,4187.000000
mean,1959.206831,18.937772,21.604374,27.395503,43.081712,85.646511,230.047704,347.063780,289.762156,197.311863,95.314713,39.490685,18.934858,1414.591631,40.542146,156.123726,1064.185504,153.740255,21.912044,79.909447
std,33.709294,33.780997,35.721764,46.886429,68.123572,122.662312,234.136680,268.643091,188.354112,135.466361,99.121632,68.275998,42.952083,905.706627,59.271964,201.297829,706.413643,166.854827,6.365097,6.235477
min,1901.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.400000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,62.200000,0.000000,0.000000,57.400000,0.000000,10.160618,70.568914
25%,1930.000000,0.600000,0.500000,1.000000,3.000000,8.650000,70.850000,176.050000,155.950000,100.400000,14.600000,0.600000,0.100000,804.950000,4.000000,24.200000,574.150000,34.150000,17.538193,75.061520
50%,1959.000000,6.000000,6.500000,7.900000,15.500000,36.900000,138.900000,285.300000,258.900000,173.900000,65.700000,9.400000,3.100000,1123.300000,19.000000,75.100000,881.200000,98.300000,23.059981,78.026702
75%,1988.000000,22.000000,26.600000,31.300000,49.550000,97.500000,303.850000,418.400000,377.550000,265.850000,148.100000,45.000000,17.650000,1650.300000,50.200000,197.600000,1287.450000,211.550000,26.599363,82.868991
max,2017.000000,583.700000,403.500000,605.600000,595.100000,1168.600000,1609.900000,2362.800000,1664.600000,1222.000000,948.300000,648.900000,617.500000,6331.100000,699.500000,1745.800000,4537.000000,1252.500000,33.557450,94.592130

In [14]:
df.shape

(4187, 22)

In [15]:
df.columns

Index(['Name', 'SUBDIVISION', 'YEAR', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN',
       'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'ANNUAL', 'Jan-Feb',
       'Mar-May', 'June-September', 'Oct-Dec', 'Latitude', 'Longitude'],
      dtype='object')

In [16]:
df.dtypes

Name               object
SUBDIVISION        object
YEAR                int64
JAN               float64
FEB               float64
MAR               float64
APR               float64
MAY               float64
JUN               float64
JUL               float64
AUG               float64
SEP               float64
OCT               float64
NOV               float64
DEC               float64
ANNUAL            float64
Jan-Feb           float64
Mar-May           float64
June-September    float64
Oct-Dec           float64
Latitude          float64
Longitude         float64
dtype: object

In [17]:
df.loc[0]

Name                                   ROW1
SUBDIVISION       Andaman & Nicobar Islands
YEAR                                   1901
JAN                                    49.2
FEB                                    87.1
MAR                                    29.2
APR                                     2.3
MAY                                   528.8
JUN                                   517.5
JUL                                   365.1
AUG                                   481.1
SEP                                   332.6
OCT                                   388.5
NOV                                   558.2
DEC                                    33.6
ANNUAL                               3373.2
Jan-Feb                               136.3
Mar-May                               560.3
June-September                       1696.3
Oct-Dec                               980.3
Latitude                           12.61124
Longitude                          92.83165
Name: 0, dtype: object

In [18]:
df.iloc[0]

Name                                   ROW1
SUBDIVISION       Andaman & Nicobar Islands
YEAR                                   1901
JAN                                    49.2
FEB                                    87.1
MAR                                    29.2
APR                                     2.3
MAY                                   528.8
JUN                                   517.5
JUL                                   365.1
AUG                                   481.1
SEP                                   332.6
OCT                                   388.5
NOV                                   558.2
DEC                                    33.6
ANNUAL                               3373.2
Jan-Feb                               136.3
Mar-May                               560.3
June-September                       1696.3
Oct-Dec                               980.3
Latitude                           12.61124
Longitude                          92.83165
Name: 0, dtype: object

In [19]:
df.at[0, "Name"]

'ROW1'

In [20]:
df.iat[0, 0]

'ROW1'

In [24]:
df[df["YEAR"].isin([1915, 2015])]

,Name,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,...,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,June-September,Oct-Dec,Latitude,Longitude
13,ROW14,Andaman & Nicobar Islands,1915,45.0,56.7,33.3,40.9,170.2,334.7,269.0,...,468.1,258.4,318.0,2741.3,101.7,244.4,1350.7,1044.5,12.611240,92.831650
109,ROW110,Andaman & Nicobar Islands,2015,126.8,7.6,3.1,138.2,331.9,346.4,328.9,...,252.1,236.3,129.9,2904.5,134.4,473.2,1678.6,618.3,12.611240,92.831650
208,ROW209,Arunachal Pradesh,2015,30.8,47.5,97.5,287.1,238.9,637.9,329.3,...,65.2,33.8,29.8,2767.5,78.3,623.5,1936.9,128.8,28.093770,94.592130
225,ROW226,Assam & Meghalaya,1915,9.3,58.9,74.4,201.9,662.9,509.1,738.2,...,108.2,10.0,4.4,3165.2,68.2,939.2,2035.2,122.6,25.914603,91.844758
325,ROW326,Assam & Meghalaya,2015,13.4,15.5,37.5,250.9,332.5,558.5,300.1,...,62.6,14.0,15.2,2471.0,28.9,620.9,1729.4,91.8,25.914603,91.844758
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3952,ROW3953,South Interior Karnataka,2015,1.7,0.2,24.4,80.5,125.3,218.7,112.0,...,106.1,138.1,4.4,1112.5,1.9,230.2,631.8,248.6,13.033110,77.311849
3969,ROW3970,Kerala,1915,16.9,23.5,42.7,106.0,154.5,696.1,775.6,...,196.6,302.5,14.9,3024.7,40.4,303.2,2167.1,514.0,10.352870,76.512040
4069,ROW4070,Kerala,2015,3.1,5.8,50.1,214.1,201.8,563.6,406.0,...,308.1,223.6,79.4,2600.7,8.9,466.0,1514.7,611.1,10.352870,76.512040
4086,ROW4087,Lakshadweep,1915,0.0,0.0,22.9,50.5,143.3,183.4,461.6,...,151.6,155.8,78.3,1545.5,0.0,216.7,943.1,385.7,10.160618,73.518509
4185,ROW4186,Lakshadweep,2015,2.2,0.5,3.7,87.1,133.1,296.6,257.5,...,165.4,231.0,159.0,1642.9,2.7,223.9,860.9,555.4,10.160618,73.518509

In [30]:
df[df["Latitude"].between(20.0,22.06)]

,Name,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,...,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,June-September,Oct-Dec,Latitude,Longitude
679,ROW680,Orissa,1901,39.5,65.1,16.1,51.6,79.0,78.2,288.4,...,76.6,96.7,0.0,1284.2,104.6,146.7,859.6,173.3,20.54312,84.68973
680,ROW681,Orissa,1902,3.4,0.2,14.2,101.1,56.7,108.3,437.4,...,33.2,13.0,29.6,1348.9,3.6,172.0,1097.5,75.8,20.54312,84.68973
681,ROW682,Orissa,1903,19.7,18.9,10.5,34.6,73.3,154.3,410.4,...,228.5,46.2,11.0,1568.2,38.6,118.4,1125.5,285.7,20.54312,84.68973
682,ROW683,Orissa,1904,0.2,12.2,20.6,10.1,100.2,342.9,336.7,...,111.8,0.0,1.9,1514.8,12.4,130.9,1257.8,113.7,20.54312,84.68973
683,ROW684,Orissa,1905,24.3,17.2,66.3,56.9,107.5,92.0,330.1,...,36.4,0.7,0.4,1357.3,41.5,230.7,1047.6,37.5,20.54312,84.68973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3131,ROW3132,Chhattisgarh,2013,2.8,19.7,4.9,45.8,5.7,263.6,418.8,...,180.9,0.3,0.0,1420.0,22.5,56.4,1159.9,181.2,21.66374,81.84064
3132,ROW3133,Chhattisgarh,2014,2.3,29.0,21.4,17.3,25.0,104.9,416.7,...,77.9,2.6,1.1,1278.6,31.3,63.7,1102.0,81.6,21.66374,81.84064
3133,ROW3134,Chhattisgarh,2015,15.8,1.2,21.2,37.0,13.0,257.6,248.6,...,17.7,0.6,1.5,1117.7,17.0,71.2,1009.7,19.8,21.66374,81.84064
3134,ROW3135,Chhattisgarh,2016,6.1,3.6,24.5,4.4,19.6,164.2,361.0,...,79.8,0.0,0.0,1315.9,9.7,48.5,1177.9,79.8,21.66374,81.84064
3135,ROW3136,Chhattisgarh,2017,0.9,0.7,3.5,0.8,15.6,184.8,378.3,...,61.6,0.2,0.0,1124.5,1.6,19.9,1041.2,61.8,21.66374,81.84064

In [37]:
df["Longitude"].where(df["Longitude"] > 85,75 )

0       92.83165
1       92.83165
2       92.83165
3       92.83165
4       92.83165
          ...
4182    75.00000
4183    75.00000
4184    75.00000
4185    75.00000
4186    75.00000
Name: Longitude, Length: 4187, dtype: float64

In [45]:
df.rename(columns={"YEAR": "year"})

,Name,SUBDIVISION,year,JAN,FEB,MAR,APR,MAY,JUN,JUL,...,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,June-September,Oct-Dec,Latitude,Longitude
0,ROW1,Andaman & Nicobar Islands,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,...,388.5,558.2,33.6,3373.2,136.3,560.3,1696.3,980.3,12.611240,92.831650
1,ROW2,Andaman & Nicobar Islands,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,...,197.2,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7,12.611240,92.831650
2,ROW3,Andaman & Nicobar Islands,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,...,181.2,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6,12.611240,92.831650
3,ROW4,Andaman & Nicobar Islands,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,...,222.2,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0,12.611240,92.831650
4,ROW5,Andaman & Nicobar Islands,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,...,260.7,25.4,344.7,2566.7,1.3,309.7,1624.9,630.8,12.611240,92.831650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4182,ROW4183,Lakshadweep,2012,19.2,0.1,1.6,76.8,21.2,327.0,231.5,...,145.9,12.4,8.8,1405.5,19.3,99.6,1119.5,167.1,10.160618,73.518509
4183,ROW4184,Lakshadweep,2013,26.2,34.4,37.5,5.3,88.3,426.2,296.4,...,72.8,78.1,26.7,1426.3,60.6,131.1,1057.0,177.6,10.160618,73.518509
4184,ROW4185,Lakshadweep,2014,53.2,16.1,4.4,14.9,57.4,244.1,116.1,...,169.2,59.0,62.3,1395.0,69.3,76.7,958.5,290.5,10.160618,73.518509
4185,ROW4186,Lakshadweep,2015,2.2,0.5,3.7,87.1,133.1,296.6,257.5,...,165.4,231.0,159.0,1642.9,2.7,223.9,860.9,555.4,10.160618,73.518509
4186,ROW4187,Lakshadweep,2016,59.6,12.1,3.2,2.6,77.4,321.1,262.6,...,58.6,32.0,74.7,1065.7,71.7,83.2,745.5,165.3,10.160618,73.518509

In [49]:
df.assign(Output="weather is arrounded")

,Name,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,...,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,June-September,Oct-Dec,Latitude,Longitude,Output
0,ROW1,Andaman & Nicobar Islands,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,...,558.2,33.6,3373.2,136.3,560.3,1696.3,980.3,12.611240,92.831650,weather is arrounded
1,ROW2,Andaman & Nicobar Islands,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,...,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7,12.611240,92.831650,weather is arrounded
2,ROW3,Andaman & Nicobar Islands,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,...,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6,12.611240,92.831650,weather is arrounded
3,ROW4,Andaman & Nicobar Islands,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,...,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0,12.611240,92.831650,weather is arrounded
4,ROW5,Andaman & Nicobar Islands,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,...,25.4,344.7,2566.7,1.3,309.7,1624.9,630.8,12.611240,92.831650,weather is arrounded
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4182,ROW4183,Lakshadweep,2012,19.2,0.1,1.6,76.8,21.2,327.0,231.5,...,12.4,8.8,1405.5,19.3,99.6,1119.5,167.1,10.160618,73.518509,weather is arrounded
4183,ROW4184,Lakshadweep,2013,26.2,34.4,37.5,5.3,88.3,426.2,296.4,...,78.1,26.7,1426.3,60.6,131.1,1057.0,177.6,10.160618,73.518509,weather is arrounded
4184,ROW4185,Lakshadweep,2014,53.2,16.1,4.4,14.9,57.4,244.1,116.1,...,59.0,62.3,1395.0,69.3,76.7,958.5,290.5,10.160618,73.518509,weather is arrounded
4185,ROW4186,Lakshadweep,2015,2.2,0.5,3.7,87.1,133.1,296.6,257.5,...,231.0,159.0,1642.9,2.7,223.9,860.9,555.4,10.160618,73.518509,weather is arrounded
4186,ROW4187,Lakshadweep,2016,59.6,12.1,3.2,2.6,77.4,321.1,262.6,...,32.0,74.7,1065.7,71.7,83.2,745.5,165.3,10.160618,73.518509,weather is arrounded

In [50]:
df["YEAR"].astype(float)

0       1901.0
1       1902.0
2       1903.0
3       1904.0
4       1905.0
         ...
4182    2012.0
4183    2013.0
4184    2014.0
4185    2015.0
4186    2016.0
Name: YEAR, Length: 2722, dtype: float64